<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berners-Lee</title>
  </head>
  <body>
    <h1>Sir Tim Berners-Lee</h1>

    <p>
      This guy was named by the queen, invented the mythical www and still alive working on how to continue with more? <br /><br />
      A savior, A genius, our Heroe and true Knight
    </p>

    <br /><br />

    <p>Knight Commander of the Most Excellent Order of the British Empire most known as KBE this is Sir Tim Berners-Lee</p>

    <img src="./img/Berners-Lee.jpg" alt="Picture of Barners-Lee and his computer running the world wide web" />

    <a href="index">Go Back Home</a>
  </body>
</html>
