<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clarke</title>
  </head>
  <body>
    <h1>Edith Clarke</h1>

    <p>Arthur C Clarke was a very good cientific writer but Edith Clarke is our real heroe, the computers will always be greatful for her Clarke calculator gift 🎁🧮</p>

    <img src="./img/Edith-Clarke.jpg" alt="Picture of Edith Clarke handworking in a class" />

    <a href="index">Go Back Home</a>
  </body>
</html>
