<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the DigitalHouse SuperHeroes Collage</h1>

    <a href="turing">Turing</a>
    <a href="lovelace">Lovelace</a>
    <a href="hopper">Hopper</a>
    <a href="hamilton">Hamilton</a>
    <a href="clarke">Clarke</a>
    <a href="berners-lee">Sir Tim Barners-lee</a>
    <a href="babbage">Babbage</a>
  </body>
</html>
